
!   VOSTOK STATION 78.28S 106.48E
UTC:
!   TEMPERATURE: -
!   WIND DIRECTION:    ( )
!   WIND SPEED:    M/S
!   PRESSURE QNH:
!   VISIBILITY:     KM
!   SIGNIFICANT WEATHER:
!   CLOUDS
!       (    oct)
!       (    oct)
!   CONTRAST  GOOD
!   HORIZONT  GOOD
!   HUMIDITY:   %
